.logo{
    width: 30em;
    height:10em;
}
.navbar{
    background-color: black;
    height: 10vh;
}
nav ul li{
    display: inline;
    justify-content: space-evenly;
    color:#fff;
   
}
nav ul li a{
    color: #fff;
    text-decoration: none;

}
nav ul li a:hover{

    text-decoration: none;
    color: #F46D22;

}
.CourseId{
    width:33.3%;
}
.Grade{
    width: 33.3%;
}
.CreditW{
    width: 33.3%;
   
}
.center{
    text-align: center;
}